@tailwind base;
@tailwind components;
@tailwind utilities;






 @layer components{
    .link{
       @apply cursor-pointer font-semibold
    }
 }
 /* #btn{
    background: rgb(241,60,33);
    background: linear-gradient(90deg, rgba(241,60,33,1) 4%, rgba(241,127,33,1) 74%, rgba(236,41,41,1) 100%);
 }  */
 /* .card1{
   width: 275px;
   height:380px;
   background-color:#020726;
   margin: 0 2px;
   border-radius: 10px;
   border:2px solid white;
 } */
 @layer components{
.btn{
  @apply h-7 hover:scale-125 transition-transform duration-200 ease-out cursor-pointer
}
 }
 
 
   
